.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f6f8fa;
  color: #24292e;
}

.hljs-comment,
.hljs-quote {
  color: #6a737d;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #d73a49;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-attr,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in {
  color: #005cc5;
}

.hljs-number,
.hljs-literal {
  color: #005cc5;
}

.hljs-section,
.hljs-selector-id,
.hljs-selector-class {
  color: #22863a;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
