{{- if .Values.grafana.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nomos-runner.fullname" . }}-grafana-config
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://{{ include "nomos-runner.fullname" . }}-prometheus:9090
        access: proxy
        isDefault: true
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: 'Nomos'
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards
  testnet_metrics.json: |
{{ (.Files.Get "grafana/dashboards/testnet_metrics.json") | indent 4 }}
{{- end }}
